<div class="banner" style="background-image: ;">
  <div class="container banner-text">
    <h1>My <strong>Movie</strong> Watchlist <strong>App</strong>!</h1>
    <p>List your favourite movies...</p>
    <a class="btn btn-flat" href="#">Apply now</a>
  </div>
</div>

<%# <%= image_tag("movie_theater.jpg", %>
      <%# <% width: 400, height: 300, crop: :fill) %>

<h1>Lists</h1>

<ul>
  <% @lists.each do |list| %>
    <li><%= link_to list.name, list_path(list.id) %></li>
  <% end %>
</ul>
<br>
<%= link_to '➕ Add list', new_list_path, class: 'd-block' %>
