<div class="banner">
  <div class="container banner-text">
    <h1>My <strong>Movie</strong> Watchlist <strong>App</strong>!</h1>
    <p>List your favourite movies...</p>
  </div>
</div>

<%# <%= image_tag("movie_theater.jpg", %>
      <%# <% width: 400, height: 300, crop: :fill) %>

<h1 class="text-center mb-5">Lists</h1>

<div>
  <div class="cards">
    <% @lists.each do |list| %>
      <div class="card-category card-img">
        <%= link_to list.name, list_path(list.id) %>
      </div>
    <% end %>
  </div>
</div>

<div>
</div>

<hr>
<%# style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('= cl_image_path list.photo.name, height: 300, crop: :fill')" %>
