<div class="banner">
  <div class="container banner-text">
    <h1>Add a new <strong>List</strong></h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <div col-12 col-lg-6>
      <%= render 'form_list' %>
    </div>
  </div>
</div>

<br>

<%= link_to "⬅️ Back", :back %>
