.banner {
  background-image: linear-gradient(rgba(0,0,0,0.4),
                                    rgba(0,0,0,0.4)),
                                    url('movie_theater.jpg');
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  margin-bottom: 50px;
}

.banner-text {
  padding-left: 25px;
  text-align: center;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.banner a {
  color: white;
}
