.navbar-lewagon {
  justify-content: flex-start;
  padding: 10px 70px;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-logo {
  width: 20px;
  height: 20px;
}
